/* css para proyector de slider */

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev,.next {
    font-size: 2rem;
    color:#ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.prev img,.next img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.prev {
    left: 20px;
}
.next {
    right: 20px;
}

@media screen and (max-width:480px) {
    .slider{
        height: 400px
    };
    
}
/* css para proyector de slider */


/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'roboto', sans-serif;
}

body{
    background-color: #f6f6f6 !important;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* Header */

header{
    width: 100%;
    background: grey;
    background: hsla(209, 40%, 38%, 0.5);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(345, 57%, 34%), hsla(209, 40%, 38%));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(345, 57%, 34%), hsla(209, 40%, 38%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    z-index: 999;
}

.top-bar {
    background: black;
    border: 0;
}

.top-bar a{
color: white;
}

.menu-superior{
    height: 80px;
    display: flex;
}

.sup-left{
    width:20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sup-left img{
    width: 130px;
}

.sup-right{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 1.5rem;
    padding-top: 1.9%;
}

.caja-usuario{
    display: flex;
    padding-right: 1rem;
}

.caja-usuario ul{
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.caja-usuario ul li{
    padding-right: 1rem ;
}

.caja-usuario ul li a, .caja-usuario ul li{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.caja-usuario ul li a:hover{
    color: black;
}

.caja-usuario ul li a i, .caja-usuario ul li i{
    padding-right: 5px;
    font-size: 1.2rem;
}

#cant_carrito.badge {
    position: relative;
    left: -16px;
    top: 7px;
    font-size: 0.7rem;
    background: #51b7b4;
    border-radius: 15px;
}

.registrese{
    position: fixed;
    font-size: 0.6rem;
    margin-right: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
    right: 2%;
    top: 4.5rem;
    background-color: rgba(255, 77, 77, 0.8);
}

.on{
    display: none !important;
}

#btn-menu{
    display: none;
    font-size: 2rem;
    color: #fff;
    padding: 0.5rem;
}
#btn-menu:hover{
    cursor: pointer;
    background: rgba(255, 77, 77, 0.61);
}
.menu{
    margin-left: 1rem;
    display: flex;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:flex-end;
}

.menu li a{
    display: block;
    padding-right: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

.menu li a:hover{
    color: black;
}

.categ-menu{
    float: left;
    flex-direction: column;
    background: hsla(209, 30%, 50%, 0.9);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(345, 57%, 34%, 0.9), hsla(209, 40%, 38%, 0.9));
    background: linear-gradient(to right, hsla(345, 57%, 34%, 0.9), hsla(209, 40%, 38%, 0.9));
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.categ-menu li a{
    padding-left: 7%;
    padding-top: 5%;
}

.categ-menu li a:hover{
    background-color: black;
    color: #fff;
}

.header{
    width: 100%;
    height: 80vh;
    background: hsla(209, 40%, 38%, 0.603);  /* fallback for old browsers */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.header .text-header{
    display: flex;
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-header h1,.text-header h3{
    color: white;
    text-shadow: 0px -2px 8px black;
    text-align: center;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px; overflow: hidden;
    stroke: none;
    fill: #f6f6f6;
}

/* Main */
/*Modal*/
.modal-container{
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    
}

.modal-login{
    width: 17rem;
    height: 25rem;
    margin-top: 5%;
    background-color: #f6f6f6;
    overflow: hidden;
    border-radius: 2px;
    transition: transform 0.8s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%);
}

.cruze{
    height: 10%;
    display: flex;
    justify-content: end;
    background-color: black;
}

.cruze i{
    color: rgb(255, 51, 51) ;
    font-size: 1.3rem;
    margin: 0.5rem;
}

.cruze i:hover{
    color: rgb(186, 55, 55) ;
}

.modal-login h5{
    margin: 6% auto;
    text-align: center;
}

.msj{
    text-align: center;
    border-radius: 2px;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #4e4e4e;
}

#formLogin{
    margin: 0 1.5rem;
    text-align: center;

}


/*Registro*/

.msjReg{
    font-size: 1rem;
    color: crimson;
}

/* About */
.about-home{
    margin: 2rem 0rem !important;;
}
.img-about{
    width: 100%;
    height: 40%;
}
.about-title{
    margin: 40px 0;
    padding: 20px;
    border-top: 2px solid rgb(255, 77, 77);
    border-bottom: 2px solid rgb(255, 77, 77);
}

/* Video middle */

.video-mid{
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    display: flex;

}


.text-video{
    position: absolute;
    text-align: center;
    color: rgb(250, 250, 250);
    z-index: 1;
    
}

.text-video a{
    text-decoration: none;
    color: white;
}

.video-wrap video{
    width: 1903px;
    height: 1070.44px;
    top: -248.219px;
}

.text-video h2 , .text-video p{
    font-size: 2rem;
}

.video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent url(../assets/images/grid.png) repeat;
    background-color: rgba(0,0,0,0.2);
    backface-visibility:hidden;
}

/* Ban Middle */

.mid{
    margin: 3rem 0;
    height: 100px;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.mid a{
    color: white;
}

.mid a i{
    margin-left: 1rem;
}

/* Services */

.services{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 5%;
    display: flex;
}

.services i{
    color: rgb(255, 77, 77);
    font-size: 32px;
    margin-right: 1rem;
}

/* Footer */

footer{
    background-color: black;
    color: #CCC;
}

.page-scroll{
    position: fixed;
    font-size: 40px;
    display: block;
    right: 20px !important;
    width: 40px !important;
    bottom: 20px;
    z-index: 999;
    text-align: right;
}

footer h2{
    margin-bottom: 2rem;
}

footer .adress{
    background: url('../assets/images/world-map.png') no-repeat center center;
    background-size: 100%;
    z-index: 3;
}

footer .leyenda-jec{
    display: grid;
    justify-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #CCC;
    padding: 1rem;
}

footer ul{
    padding: 0;
}
footer a{
    text-decoration: none;
    color: #CCC;
}

footer a i{
    margin-right: 1rem;
}
footer ul li{
    padding-bottom: 1rem;
}


/* Productos */

.text-central{
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.text-central span{
    color: rgb(255, 77, 77);
    margin-right: 1rem;
}

.product{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #CCC;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 21%);
}

.prod-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
}

.product a,.product a:hover{
    text-decoration: none;
    color: black;
}

.product:hover{
    border-color: rgb(255, 77, 77);
}

.cajasOferta {
    border: 0 solid #ddd;
    padding: 0.5rem 0.5rem!important;
}

.prod-nombre h4{
    margin: 1rem 0;
    font-size: 1rem;
    height: 6rem;
    
}

.cant-add{
    display: flex;
    justify-content: center;
}

.cantidades{
    width: 30%;
    text-align: center;
}

.prod-precio{
    font-size: 1.25rem;
    font-weight:700;
}

/* Marcas */

.marca{
    box-shadow: 1px 1px 2px grey;
    transition: 0.5s;
}

.marca:hover{
    box-shadow: 0px 0px 10px rgb(255, 77, 77);
}

/* Nosotros */

.img-about img{
    border-radius: 50%;
}

/* Contacto */

.contact{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    background: hsla(209, 40%, 38%, 0.603);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(345, 57%, 34%, 0.801), hsla(209, 40%, 38%, 0.801));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(345, 57%, 34%, 0.801), hsla(209, 40%, 38%, 0.801)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact a{
text-decoration: none;
color: white;
}

.form-group {
    margin: 5px;
}

/* Carrito */

.orderStep{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #4e4e4e;
    color: #fff;
}

.orderStep li{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.orderStep li i{
    padding: 0.5rem;
}

.orderStep li span{
    background-color: #8a8a8a;
}

.orderStep .active{
    background-color:#3f918e ;
}

.orderStep .active span{
    background-color: #47aca8;
}

.cabCart{
    display: flex;
    border-bottom: 1px solid #02abc8 !important;
}
.detail{
    display: flex;
    align-items: flex-end;
}

.cabCart a{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px 0 0;
    align-items: center;
}

.addArt{
    display: flex;
    justify-content: end;

}

.cartTable{
    width: 100%;
}

.cartTableHeader,tr.CartProduct,table{
    background: #fff;
    border-bottom: 1px solid #e7e9ec;
}

tr.CartProduct td, tr.CartProduct th {
    text-align: center;
    padding: 10px 0;
}

tr.CartProduct td:nth-child(2) {
    text-align: left;
}

.CartProductThumb img{
    width:86px;
    max-width:100%!important
}

.car-nombre{
    max-width:300px;
}

.CartDescription h4{
    font-size: 1rem;
}

.cantidades{
    width:50px;
    text-align:center;
}

.car-monsubt{
    font-size: 1.3rem;
    margin: 0 6rem;
}

.subTotal{
    font-size: 1.3rem;
    text-align: center;
}


/* General */

.top-bar a:hover,.about-title span,.icolor,.mid a:hover,footer span,footer a:hover,.contact a:hover{
    color: rgb(255, 77, 77);
}

/* Responsive */

@media screen and (max-width:860px) {

    .menu{
        display: none;
        top: 104px;
        height: auto;
        line-height: 3.5rem;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        margin-left: -50%;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .menu li a:hover{
        background-color: rgb(255, 77, 77);
        color: white;
    }
    .menu-superior{
        height: 80px;
        display: flex;
    }
    .categ-menu{
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
    }
    .categ-menu li a{
        padding-left: 7%;
        padding-top: 0.5%;
    }
    
    .categ-menu li a:hover{
        background-color:rgb(255, 77, 77)
        ;
        color: #fff;
    }

    .sup-left{
        width:50%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .sup-right{
        width: 50%;
        display: flex;
        justify-content: end;
        align-items:center;
        margin: auto;
        padding: 0 ;    
    }
    #btn-menu{
        display: flex;
    }

    .caja-usuario{
        padding-right: 0.1rem;
    }
    .cajasOferta {
        padding: 1rem;
    }
    .nombreUsuario{
        display: none;
    }
}

@media screen and (min-width:860px) and (max-width:1100px) {
    .nombreUsuario{
        display: none;
    }

}